---
const { segment } = Astro.props;
---

<header class="container menu">
  <img src="/images/logo.svg" alt="logo" />
  <nav>
    <ul>
      <li>
        <a href="/" aria-current={segment === "home" ? "page" : undefined}
          >Home</a
        >
      </li>
      <li>
        <a
          href="/Portfolio"
          aria-current={segment == "portfolio" ? "page" : undefined}
          >Portfolio</a
        >
      </li>
      <li>
        <a
          href="/Contact"
          aria-current={segment == "contact" ? "page" : undefined}>Contact me</a
        >
      </li>
    </ul>
  </nav>
  <button class="menu_btn"></button>
</header>
<nav class="container">
  <div class="menu_mobile">
    <ul class="menu_mobile_items">
      <li><a href="/" class="menu_mobile_item">Home</a></li>
      <li><a href="/Portfolio" class="menu_mobile_item">Portfolio</a></li>
      <li><a href="/Contact" class="menu_mobile_item">Contact me</a></li>
    </ul>
  </div>
</nav>

<style>
  .menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 65px;
  }

  .menu ul {
    display: flex;
    align-items: center;
    gap: 43px;
    color: var(--dark-blue);
  }

  .menu li a {
    font-family: var(--public-sans);
    font-size: var(--s-sm);
    font-weight: var(--semibold);
    text-transform: uppercase;
    letter-spacing: 1px;
  }

  .menu li a[aria-current="page"] {
    color: var(--cyan);
  }

  .menu_btn {
    display: none;
    width: 25px;
    height: 25px;
    background-image: url(/images/icons/hamburger.svg);
    background-position: center;
    background-repeat: no-repeat;
  }

  .menu_btn.open {
    background-image: url(/images/icons/close.svg);
  }

  /* NAV BAR MOBILE */
  .menu_mobile {
    position: relative;
    display: none;
  }

  .menu_mobile_items {
    display: none;
    gap: 20px;
    position: absolute;
    top: 30px;
    right: 0;
    width: 80%;
    z-index: 99;
    background-color: var(--dark-blue);
    text-align: center;
    padding-block: 30px;
  }

  .menu_mobile_items.open {
    display: grid;
  }

  .menu_mobile_item {
    font-family: var(--public-sans);
    font-size: var(--s-sm);
    text-transform: uppercase;
    letter-spacing: 1px;
    color: var(--white);
  }

  @media (width < 690px) {
    .menu_mobile {
      display: inherit;
    }

    .menu ul {
      display: none;
    }

    .menu_btn {
      display: block;
    }
  }
</style>

<script>
  const hamburgerMenu = document.querySelector(".menu_btn");
  const menuMobile = document.querySelector(".menu_mobile_items");

  hamburgerMenu.addEventListener("click", () => {
    hamburgerMenu.classList.toggle("open");
    menuMobile.classList.toggle("open");
  });
</script>
